<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AngularJS Training</title>
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="Training">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AngularJS Training</a>
    </div>

    </div>
  <div class="container">
    <h1>Bienvenue dans cet entrainement à AngularJS.</h1><hr>
    <p>{{'Ce texte est écrit avec: ' + 'AngularJS !'}}</p>

    <div>
      <h2>La directive ng-model (Two-way Data Binding)</h2>
      <input type="text" ng-model="mot">
      <p>Votre mot saisie est: {{mot}}</p>
    </div>

    <div>
      <h2>La directive ng-init et ng-repeat</h2>
      <ul ng-init="users=[{id:1, name:'Christophe'}, {id:2, name:'Eddy'}, {id:3, name:'Laurent'}]">
        <li ng-repeat="user in users">{{user.name}}</li>
      </ul>
    </div>

    <div ng-controller="AnimalsCtrl">
      <h2>La directive ng-controller et les filtres</h2>
      <p>
        Cherchez un nom : <input type="text" ng-model="search.nom"> | Triez par:
        <select type="text" ng-model="order">
          <option value="id">id</option>
          <option value="nom">nom</option>
          <option value="type">type</option>
          <option value="pattes">pattes</option>
        </select>
      </p>
      <table class="table table-bordered table-hover">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Nombre de pattes</th>
        </tr>
        <tr ng-repeat="animal in animals | filter:search | orderBy:order">
          <td>{{animal.id}}</td>
          <td>{{animal.nom}}</td>
          <td>{{animal.type}}</td>
          <td>{{animal.pattes}}</td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Les directives ng-show et ng-hide + injection du module ngAnimate</h2>

      <p>Faite votre choix: <input type="checkbox" ng-model="check"></p>
      <div>Show:
        <div class="check-element animate-hide" ng-show="check" style="background-color:gray;">
          On me voit quand la checkbox est cochée.
        </div>
      </div>
      <div>Hide:
        <div class="check-element animate-hide" ng-hide="check" style="background-color:#2C3E50;">
          On ne me voit pas quand la checkbox est cochée.
        </div>
      </div>
    </div>

    <div ng-controller="CalculCtrl">
      <h2>La directive ng-click</h2>
      Utilisez ma super calculatrice : <input type="number" ng-model="nb1"> + <input type="number" ng-model="nb2"> <button type="button" class="btn btn-primary" ng-click="addition()">=</button> {{result}}
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.22/angular-animate.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
